{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 500px;">

    <div class="card shadow border-0 p-4">

        <h2 class="text-center mb-4 text-primary fw-bold">
            Login to TweetBar
        </h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn btn-primary w-100 mt-3">

                Login

            </button>

        </form>

        <p class="text-center mt-3">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </p>

    </div>

</div>

{% endblock %}